.container {
  display: flex !important;
  flex-direction: column;
  width: 50%;
  align-items: center !important;
  justify-content: center;
  background-color: white;
  padding: 3rem !important;
}

/*.container {
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
/* align-items: center; Center vertically */
/* height: 100vh; /* Ensure the container covers the full height of the viewport */
/* }*/

/* .paper {
  padding: 2rem;
  width: 400px;
  height: 500px;
  box-sizing: border-box;
} */
